.markdown-body code,
.markdown-body tt {
    padding: 0.2em 0.4em;
    margin: 0;
    margin: 0;
    font-size: 85%;
    white-space: "break-spaces";
    background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
    border-radius: 6px;
    /* foo: "bar", */

}

div {
    color: '#f00'
}